h1 {
  text-align: center;
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input {
  margin-right: 50px;
}

button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 200px;
  height: 35px;
  font-size: 25px;
  background-color: blue;
  border: none;
  border-radius: 15px;
  color: white;
}

button:hover {
  cursor: pointer;
}
.hero {
  text-align: center;
}
